{% extends 'index.html' %}

{% block content %}

<h1>Tareas Pendientes</h1>
<br>
<!-- Botón para crear una nueva tarea -->
<div class="mb-3">
    <a href="{% url 'create_task' %}" class="btn btn-primary">Crear Nueva Tarea</a>
</div>

{% if tasks %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Completado</th>
                <th class="text-center">Título</th>
                <th class="text-center">Importancia</th>
                <th class="text-center">Descripcion</th>
                <th class="text-center">Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr style="cursor: pointer;">
                <!-- Checkbox para marcar como completada -->
                <td class="text-center">
                    <input type="checkbox" 
                           {% if task.completado %} checked {% endif %}
                           onchange="window.location='{% url 'task_complete' task.id %}'">
                </td>
                <!-- El resto de los valores de la tarea -->
                <td class="text-center" onclick="window.location='{% url 'task_detail' task.id %}'">{{ task.titulo }}</td>
                <td class="text-center">
                    {% if task.importante %}
                    <span class="badge bg-danger">Alta</span>
                    {% else %}
                    <span class="badge bg-secondary">Normal</span>
                    {% endif %}
                </td>
                <td class="text-center">{{ task.descripcion }}</td>
                <td class="text-center">{{ task.creado }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    <p>No hay tareas</p>
{% endif %}

{% endblock %}
