{% extends 'index.html' %}

{% block content %}

<h1>Lista de Tareas</h1>

<!-- Botón para crear una nueva tarea -->
<div class="mb-3">
    <a href="{% url 'create_task' %}" class="btn btn-primary">Crear Nueva Tarea</a>
</div>

{% if tasks %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Título</th>
            <th>Descripción</th>
            <th>Importancia</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>
                    {% if task.importante %}
                    <strong>{{ task.titulo }}</strong>
                    {% else %}
                    {{ task.titulo }}
                    {% endif %}
            </td>
            <td>{{ task.descripcion }}</td>
            <td>
                {% if task.importante %}
                <span class="badge bg-danger">Alta</span> <!-- Visualización de la importancia -->
                {% else %}
                <span class="badge bg-secondary">Normal</span>
                {% endif %}
            </td>
            <td>{{ task.creado }}</td>
            <td>
                <!-- Botones para acciones -->
                <a href="{% url 'task_detail' task.id %}" class="btn btn-info btn-sm">Ver</a>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete_task' task.id %}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de eliminar esta tarea?');">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No hay tareas</p>
{% endif %}

{% endblock %}
